<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand text-white">News Scraper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active text-white">
                <a class="nav-link" href="/api/articles">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/saved">Saved Articles</a>
            </li>
        </ul>
    </div>
</nav>
<section class="header">
    <div class="jumbotron">
        <div class="text-center text-white">
            <h2 class="header-text">View your saved articles below! </h2>
        </div>
    </div>
</section>
<section class="articles">
    {{#each saved}}
        <div class="card news-card">
            <a href="{{this.link}}">
                <img class="card-img-top" src="{{this.imageLink}}" alt="image">
            </a>
            <div class="card-body">
                <a href="{{this.link}}">
                    <h5 class="card-title">{{this.title}}</h5>
                </a>
            </div>
            <div class="card-footer">
                <button class="btn btn-lg btn-info saved-button" id="note-modal" data-id="{{this._id}}"
                    data-toggle="modal" data-target="#note-modal">Add Note</button>
                <button class="btn btn-lg btn-danger saved-button" id="delete" data-id="{{this._id}}">Delete</button>
            </div>
        </div>
    {{/each}}
</section>

<!-- Modal -->
<div class="modal fade" id="note-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Notes For Article</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="note-container list-group">

                </ul>
                <textarea placeholder="New Note" rows="4" cols="60"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-lg" id="add-note">Save Note</button>
            </div>
        </div>
    </div>
</div>

<footer class="footer bg-dark text-white">
    <p class="text-center">© 2019 Brandon Lerner</p>
</footer>